# Ignore everything in .glzr
files/glazewm/.glzr/*

# Allow specific config file through
!files/glazewm/.glzr/glazewm/
!files/glazewm/.glzr/glazewm/config.yaml

# AlbosToolset
files/blender/blenderTools/AlbosToolset/*
files/blender/blenderTools/AlbosTheme/*

# Ignore ssh_domain.lua
files/wezterm/nxstynate/ssh_domain.lua

# Ignore browser or webview cache
**/EBWebView/
**/Cache/
