# Ignore everything in .glzr
files/glazewm/.glzr/*

# But keep the config.ron file
!files/glazewm/.glzr/glazewm/config.yaml

# Ignore browser or webview cache
**/EBWebView/
**/Cache/

#hello world
